{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {},
        "preset-typescript": {},
        "preset-react": {},
        "transform-runtime": {},
        "styled-jsx": {},
        "class-properties": {}
      }
    ]
  ],
  "plugins": []
}