# AWS Credentials
# These can be obtained from selectin "Access Keys" in the aws console under AIEBS Sandbox account
# Just replace everything after the equal sign with the values
AWS_ACCESS_KEY_ID=<INSERT_AWS_ACCESS_KEY_ID_HERE>
AWS_SECRET_ACCESS_KEY=<INSERT_AWS_SECRET_ACCESS_KEY_HERE>
AWS_SESSION_TOKEN=<INSERT_AWS_SESSION_TOKEN_HERE>

# LLM Config
SYSTEM_PROMPT_FILE="business-like_00001"
DEFAULT_SYSTEM_PROMPT="You are a friendly, AI assistant, who answers my questions in a businesslike manner, concisely."
MODEL="anthropic.claude-3-sonnet-20240229-v1:0"
MODEL_TEMPERATURE=0.3

# DyanmoDB Config
DYNAMODB_TABLE_NAME=labs-chat-sessions-us-east-1-135899518107

# S3 Config
S3_BUCKET="labs-chat-data-bucket"
SYSTEM_PROMPT_FILE=business-like_00001